

<div class="row">
    
  <div class="section" id="crm">
<h1>CRM<a class="headerlink" href="#crm" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="made.modules.crm.__main__.CRM">
<em class="property">class </em><code class="descclassname">made.modules.crm.__main__.</code><code class="descname">CRM</code><span class="sig-paren">(</span><em>typename=None</em>, <em>port=8765</em>, <em>configfile=None</em><span class="sig-paren">)</span><a class="headerlink" href="#made.modules.crm.__main__.CRM" title="Permalink to this definition">¶</a></dt>
<dd><p>Connection Relation Manager.</p>
<p>Manages the relation between the made standart database components.</p>
</dd></dl>

</div>


</div>