

<div class="row">
    
  <div class="section" id="services">
<h1>Services<a class="headerlink" href="#services" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/code/made/services/crm.html">CRM</a></li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/code/made/services/mail.html">Mail</a></li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/code/made/services/web.html">Web</a></li>
</ul>
</div>
</div>


</div>