<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Index</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    
  <div class="section" id="crm">
<h1>CRM<a class="headerlink" href="#crm" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="made.modules.crm.CRM">
<em class="property">class </em><code class="descclassname">made.modules.crm.</code><code class="descname">CRM</code><span class="sig-paren">(</span><em>typename=None</em>, <em>port=8765</em>, <em>requires=None</em>, <em>debug=False</em>, <em>configfile=None</em><span class="sig-paren">)</span><a class="headerlink" href="#made.modules.crm.CRM" title="Permalink to this definition">¶</a></dt>
<dd><p>Connection Relation Manager</p>
<p>Manages the relation between the made standart database components.</p>
<dl class="attribute">
<dt id="made.modules.crm.CRM.logs">
<code class="descname">logs</code><a class="headerlink" href="#made.modules.crm.CRM.logs" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the 50 most recent logs.</p>
</dd></dl>

<dl class="attribute">
<dt id="made.modules.crm.CRM.systemstats">
<code class="descname">systemstats</code><a class="headerlink" href="#made.modules.crm.CRM.systemstats" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns some system statistics.</p>
</dd></dl>

</dd></dl>

</div>


</div>