<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Index</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    
  <div class="section" id="web">
<h1>Web<a class="headerlink" href="#web" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="made.modules.web.Web">
<em class="property">class </em><code class="descclassname">made.modules.web.</code><code class="descname">Web</code><span class="sig-paren">(</span><em>*args</em>, <em>**kwargs</em><span class="sig-paren">)</span><a class="headerlink" href="#made.modules.web.Web" title="Permalink to this definition">¶</a></dt>
<dd><p>Does proxy calls, in doing so, this module becomes a gateway for web clients.</p>
</dd></dl>

</div>


</div>