/* Empty. Add your own CSS if you like */

.log10 {
    background-color: #AAC6E3;
}

.log20 {
    background-color: #A9EFBF;
}

.log30 {
    background-color: #FFD9A4;
}

.log40 {
    background-color: #FFAEAE;
}

.log50 {
    background-color: black;
    color: red;
}

.message {
    white-space: pre;
    text-align: left;
}

.docutils {

}

.field-body{
  text-align: left;
  font-size: 14px;
}

.field-name {
  font-weight: bold;
  font-size: 14px;
}

.topology-node {
  stroke: #999;
  stroke-width: 1.5px;
}

.topology-link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1.5px;
}

.topology-text {

}

.topology-legend-box {
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid #aaa;
  width: 10px;
  height: 10px;
}

made-topology-legend {
  vertical-align: top;
  display: inline-block;
}
