

<div class="row">
    
  <div class="section" id="database">
<h1>Database<a class="headerlink" href="#database" title="Permalink to this headline">¶</a></h1>
<p>A list of the default database documents.</p>
<div class="section" id="user">
<h2>User<a class="headerlink" href="#user" title="Permalink to this headline">¶</a></h2>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">{</span>
    <span class="s">&#39;_id&#39;</span><span class="p-Indicator">:</span> <span class="nv">uuid.uuid4().hex</span><span class="p-Indicator">,</span>
    <span class="s">&#39;name&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;first_name&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;last_name&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;password&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;sha512(password.encode(&#39;</span><span class="nv">utf8&#39;)).hexdigest()&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;email&#39;</span><span class="p-Indicator">:</span><span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;tokens&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[],</span>
    <span class="s">&#39;groups&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[],</span>
    <span class="s">&#39;workflows&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[],</span>
    <span class="s">&#39;active&#39;</span><span class="p-Indicator">:</span> <span class="nv">true</span><span class="p-Indicator">,</span>
<span class="p-Indicator">}</span>
</pre></div>
</div>
</div>
<div class="section" id="group">
<h2>Group<a class="headerlink" href="#group" title="Permalink to this headline">¶</a></h2>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">{</span>
    <span class="s">&#39;_id&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;name&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
<span class="p-Indicator">}</span>
</pre></div>
</div>
</div>
<div class="section" id="service">
<h2>Service<a class="headerlink" href="#service" title="Permalink to this headline">¶</a></h2>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">{</span>
    <span class="s">&#39;type&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;type</span><span class="nv"> </span><span class="s">name&gt;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;description&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span>
        <span class="s">&#39;type&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
        <span class="s">&#39;doc&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&#39;</span><span class="p-Indicator">,</span>
        <span class="s">&#39;rpcs&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[],</span>
        <span class="s">&#39;workflows&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[]</span>
    <span class="p-Indicator">},</span>
    <span class="s">&#39;instances&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span>
        <span class="p-Indicator">{</span>
            <span class="s">&#39;key&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;key&#39;</span><span class="p-Indicator">,</span>
            <span class="s">&#39;secret&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;secret&#39;</span><span class="p-Indicator">,</span>
            <span class="s">&#39;host&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;host&#39;</span><span class="p-Indicator">,</span>
            <span class="s">&#39;port&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;port&#39;</span>
        <span class="p-Indicator">}</span>
    <span class="p-Indicator">]</span>
<span class="p-Indicator">}</span>
</pre></div>
</div>
</div>
<div class="section" id="workflow">
<h2>Workflow<a class="headerlink" href="#workflow" title="Permalink to this headline">¶</a></h2>
<div class="code yaml highlight-python"><div class="highlight"><pre>{
    &#39;_id&#39;: uuid.uuid4().hex,
    &#39;position&#39;: self.start_path(),
    &#39;data&#39;: {},
    &#39;error&#39;: null
    &#39;template&#39;: {},
}
</pre></div>
</div>
</div>
</div>


</div>