

<div class="row">
    
  <div class="section" id="welcome-to-made-s-documentation">
<h1>Welcome to made&#8217;s documentation!<a class="headerlink" href="#welcome-to-made-s-documentation" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/whatis.html">What is made?</a></li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/network.html">Network</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/network.html#message">Message</a></li>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/network.html#communication">Communication</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/workflow.html">Workflow</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/workflow.html#workflow-description">Workflow Description</a></li>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/workflow.html#workflow-context">Workflow Context</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/howtos/howtos.html">How To&#8217;s</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/howtos/service.html">How to create a Service</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/code/madejs.html">MadeJS</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/code/madejs.html#angularjs-service">AngularJS service</a></li>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/code/madejs.html#angularjs-directive-made-store-file">AngularJS directive made-store-file</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/code/made/made.html">Made</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/code/made/peer.html">Peer</a></li>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/code/made/services/services.html">Services</a></li>
</ul>
</li>
</ul>
</div>
<ul class="simple">
<li><a class="reference internal" href="/#/dashboard/doc/genindex.html"><span>Index</span></a></li>
<li><a class="reference internal" href="/#/dashboard/doc/py-modindex.html"><span>Module Index</span></a></li>
<li><a class="reference internal" href="/#/dashboard/doc/search.html"><span>Search Page</span></a></li>
</ul>
</div>


</div>