

<div class="row">
    
  <div class="section" id="installation">
<h1>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h1>
<p>You will need the following software on your machine:</p>
<ul class="simple">
<li><a class="reference external" href="https://www.docker.com/">Docker</a></li>
<li><a class="reference external" href="https://www.python.org/">Python &gt;=2.7</a></li>
<li><a class="reference external" href="https://docs.docker.com/compose/">Docker-Compose</a></li>
</ul>
<p>After you have the required software on your machine, you download the slice+dicer Docker image.:</p>
<div class="highlight-python"><div class="highlight"><pre>$ docker pull slicedice/base
</pre></div>
</div>
<p>Yeah, that&#8217;s it, now you have every thing you need :)</p>
</div>


</div>