

<div class="row">
    
  <div class="section" id="network">
<h1>Network<a class="headerlink" href="#network" title="Permalink to this headline">¶</a></h1>
<div class="section" id="message">
<h2>Message<a class="headerlink" href="#message" title="Permalink to this headline">¶</a></h2>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">{</span>
    <span class="s">&#39;issuer&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span>                 <span class="c1"># the creator of the message</span>
        <span class="s">&#39;id&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span>
        <span class="s">&#39;name&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span>
        <span class="s">&#39;type&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;user&#39;</span><span class="p-Indicator">,</span>
        <span class="s">&#39;token&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span>
    <span class="p-Indicator">},</span>
    <span class="s">&#39;version&#39;</span><span class="p-Indicator">:</span> <span class="nv">1.0</span><span class="p-Indicator">,</span>
    <span class="s">&#39;sign&#39;</span><span class="p-Indicator">:</span> <span class="nv">null</span><span class="p-Indicator">,</span>               <span class="c1"># sign for the message</span>
    <span class="s">&#39;context&#39;</span><span class="p-Indicator">:</span> <span class="nv">null</span><span class="p-Indicator">,</span>            <span class="c1"># the hash for the context of the conversation</span>
    <span class="s">&#39;depth&#39;</span><span class="p-Indicator">:</span> <span class="nv">0</span><span class="p-Indicator">,</span>
    <span class="s">&#39;action&#39;</span><span class="p-Indicator">:</span> <span class="nv">action</span><span class="p-Indicator">,</span>           <span class="c1"># the kind of network action to perform</span>
    <span class="s">&#39;data&#39;</span><span class="p-Indicator">:</span> <span class="nv">data</span><span class="p-Indicator">,</span>               <span class="c1"># the use specified data</span>
    <span class="s">&#39;error&#39;</span><span class="p-Indicator">:</span> <span class="nv">null</span><span class="p-Indicator">,</span>              <span class="c1"># the error message, if anything goes wrong</span>
    <span class="s">&#39;success&#39;</span><span class="p-Indicator">:</span> <span class="nv">true</span><span class="p-Indicator">,</span>            <span class="c1"># if the message is a result of a success</span>
    <span class="s">&#39;nonce&#39;</span><span class="p-Indicator">:</span> <span class="nv">null</span>               <span class="c1"># an ever increasing integer, mostly the timestamp</span>
<span class="p-Indicator">}</span>
</pre></div>
</div>
</div>
<div class="section" id="communication">
<h2>Communication<a class="headerlink" href="#communication" title="Permalink to this headline">¶</a></h2>
<p>The network communication of made is build out of three layers:</p>
<ol class="arabic simple">
<li>Network actions.</li>
<li>Protocols.</li>
<li>And resources.</li>
</ol>
</div>
</div>


</div>