

<div class="row">
    
  <div class="section" id="setup">
<h1>Setup<a class="headerlink" href="#setup" title="Permalink to this headline">¶</a></h1>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You will need the following software on your machine:</p>
<blockquote>
<div><ul class="simple">
<li><a class="reference external" href="https://www.docker.com/">Docker</a></li>
<li><a class="reference external" href="https://www.python.org/">Python 3</a></li>
<li><a class="reference external" href="https://pypi.python.org/pypi/sputnik">Sputnik</a></li>
</ul>
</div></blockquote>
</div>
<div class="section" id="basic-made-setup">
<h2>Basic Made Setup<a class="headerlink" href="#basic-made-setup" title="Permalink to this headline">¶</a></h2>
<p class="graphviz">
<img src="../../../../_images/graphviz-4d17908ed0f19099d8d467e495524d5df6cf0627.png" alt="digraph basic {
node[shape=box];
client[shape=record, label=&quot;Client | { Browser | MadeJS }&quot;];
client -&gt; nginx -&gt; web -&gt; {crm mail};
sample -&gt; {mail web};
{web crm mail sample} -&gt; mongodb;
}" />
</p>
<p>In the basic setup a Nginx reverse proxy serves the static files for a Web-Browser.
MadeJS client communicates over the reverse proxy with the made cluster to request.</p>
<p>Lets take a look at an example Docker setup. At first the Nginx configuration:</p>
<div class="highlight"><pre><span class="c1"># in docker we dont want nginx as a daemon</span>
<span class="k">daemon</span> <span class="no">off</span><span class="p">;</span>
<span class="k">worker_processes</span>  <span class="mi">1</span><span class="p">;</span>
<span class="k">error_log</span> <span class="s">/dev/stdout</span> <span class="s">info</span><span class="p">;</span>

<span class="k">events</span> <span class="p">{</span>
    <span class="kn">worker_connections</span>  <span class="mi">1024</span><span class="p">;</span>
<span class="p">}</span>

<span class="k">http</span> <span class="p">{</span>
    <span class="kn">access_log</span> <span class="s">/dev/stdout</span><span class="p">;</span>
    <span class="kn">include</span>       <span class="s">/etc/nginx/mime.types</span><span class="p">;</span>
    <span class="kn">default_type</span>  <span class="s">application/octet-stream</span><span class="p">;</span>
    <span class="kn">sendfile</span>        <span class="no">off</span><span class="p">;</span>
    <span class="kn">keepalive_timeout</span>  <span class="mi">65</span><span class="p">;</span>
    <span class="c1"># gzip  on;</span>

    <span class="c1"># for the admin interface</span>
    <span class="kn">upstream</span> <span class="s">made</span> <span class="p">{</span>
        <span class="kn">server</span> <span class="n">web</span><span class="p">:</span><span class="mi">9876</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="kn">upstream</span> <span class="s">node</span> <span class="p">{</span>
        <span class="kn">server</span> <span class="n">web</span><span class="p">:</span><span class="mi">8765</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="kn">server</span> <span class="p">{</span>
        <span class="kn">listen</span> <span class="mi">443</span> <span class="s">ssl</span> <span class="s">default_server</span><span class="p">;</span>
        <span class="kn">listen</span> <span class="mi">80</span><span class="p">;</span>
        <span class="kn">server_name</span> <span class="s">&quot;&quot;</span><span class="p">;</span>

        <span class="kn">client_max_body_size</span> <span class="s">4G</span><span class="p">;</span>

        <span class="kn">ssl_certificate</span> <span class="s">/configs/server.crt</span><span class="p">;</span>
        <span class="kn">ssl_certificate_key</span> <span class="s">/configs/server.key</span><span class="p">;</span>

        <span class="kn">location</span> <span class="s">/made</span> <span class="p">{</span>
            <span class="kn">proxy_set_header</span> <span class="s">X-Forwarded-For</span> <span class="nv">$proxy_add_x_forwarded_for</span><span class="p">;</span>
            <span class="kn">proxy_set_header</span> <span class="s">Host</span> <span class="nv">$http_host</span><span class="p">;</span>
            <span class="kn">proxy_redirect</span> <span class="no">off</span><span class="p">;</span>
            <span class="kn">proxy_buffering</span> <span class="no">off</span><span class="p">;</span>

            <span class="kn">if</span> <span class="s">(!-f</span> <span class="nv">$request_filename</span><span class="s">)</span> <span class="p">{</span>
                <span class="kn">proxy_pass</span> <span class="s">http://made</span><span class="p">;</span>
                <span class="kn">break</span><span class="p">;</span>
            <span class="p">}</span>
        <span class="p">}</span>


        <span class="kn">location</span> <span class="s">/ws</span> <span class="p">{</span>
            <span class="kn">proxy_read_timeout</span> <span class="s">7d</span><span class="p">;</span>
            <span class="kn">proxy_pass</span> <span class="s">https://node</span><span class="p">;</span>
            <span class="kn">proxy_http_version</span> <span class="mi">1</span><span class="s">.1</span><span class="p">;</span>
            <span class="kn">proxy_set_header</span> <span class="s">Upgrade</span> <span class="s">websocket</span><span class="p">;</span>
            <span class="kn">proxy_set_header</span> <span class="s">Connection</span> <span class="s">upgrade</span><span class="p">;</span>
        <span class="p">}</span>


        <span class="kn">location</span> <span class="s">/</span> <span class="p">{</span>
            <span class="kn">root</span> <span class="s">/srv/www</span><span class="p">;</span>
            <span class="kn">index</span> <span class="s">index.html</span><span class="p">;</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
<p>Pretty simple and straight forward. We define a node, which is our made web proxy module. And pass just any websocket connection
on the <em>/ws</em> url part through to the node. For the rest the nginx serves the static content. Thats it.</p>
<p>In the next step we define a Sputnik configuration file, which is in the <a class="reference external" href="http://yaml.org/">YAML</a> format.</p>
<div class="highlight"><pre>version: 1.0
projects: {}
type: docker
setup:
    raw:
        crm:
            working_dir: ./
            command: python -m made.modules.crm -l etc/made/logging.yml -p 8766
        web:
            working_dir: ./
            command: python -m made.modules.web -l etc/made/logging.yml -p 8765
        mail:
            working_dir: ./
            command: python -m made.modules.mail -l etc/made/logging.yml -p 8767
        sample:
            working_dir: ./
            command: python -m made.modules.sample -l etc/made/logging.yml -p 8768
    docker:
        nginx:
            image: &#39;slicedice/base&#39;
            volumes:
                - [etc/, /configs]
                - [made/frontend/www, /srv/www]
            ports:
                443: 4433
                80: 8080
            links:
                - web
            command: nginx -c /configs/docker.nginx
        mongodb:
            image: &#39;slicedice/base&#39;
            volumes:
                - [data, /data]
            expose:
                - 27017
            command: /usr/bin/mongod --smallfiles --dbpath /data
        made:
            image: &#39;slicedice/base&#39;
            volumes:
                - [etc/made/, /etc/made]
                - [./, /made]
            links:
                - mongodb
            command: echo &#39;made dummy&#39;
        crm: &amp;default
            image: &#39;slicedice/base&#39;
            volumes:
                - [etc/made/, /etc/made]
                - [./, /made]
            expose:
                - 8765
            links:
                - mongodb
            working_dir: /made
            command: python -m made.modules.crm
        web:
            &lt;&lt;: *default
            expose:
                - 8765
                - 9876
            links:
                - mongodb
                - crm
            command: python -m made.modules.web
        mail:
            &lt;&lt;: *default
            command: python -m made.modules.mail
        sample:
            &lt;&lt;: *default
            links:
                - mail
                - web
                - mongodb
            command: python -m made.modules.sample
</pre></div>
<p>In the <em>sputnik.yml</em> is the setup for the docker container and a <em>raw</em> setup described.
We just need to type:</p>
<div class="highlight-python"><div class="highlight"><pre>$ sputnik up
</pre></div>
</div>
<p>Sputnik will start all the docker containers and install the needed software.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>Why Sputnik and not docker composer?</p>
<p class="last">That is simple, because during development we encountered the problem of continous deployment.
Our software packages in multiple projects which referenced each other changed so quickly, we
needed a tool to handle this. Sputnik is our companion for made³ which tries to solve this
problem.</p>
</div>
</div>
</div>


</div>