

<div class="row">
    
  <div class="section" id="what-is-made">
<h1>What is made?<a class="headerlink" href="#what-is-made" title="Permalink to this headline">¶</a></h1>
<p>made stands for: <em>massive advanced distributed engine</em></p>
<p>Made is a framework for service networks.
Made is composed of peers which particepated in the service network.
In order for a software programm to be part of the service network, it has to
understand the made json messages wich are send via WebSocket and has to have access
to the MongoDB cluster which is used by the service network.</p>
<p>The idea is quite simple, any type of peer brings a capability or service to the
network and stores his description in the database, so other peers can make use of
the services the one peer provides.</p>
</div>


</div>