

<div class="row">
    
  <div class="section" id="workflow">
<h1>Workflow<a class="headerlink" href="#workflow" title="Permalink to this headline">¶</a></h1>
<p>Ein Workflow ist eine Statemachine mit besonderen Bedingungen.</p>
<p class="graphviz">
<img src="../../../../_images/graphviz-0ec39d082211b06f5e4d42835e7f4f08940f45ee.png" alt="digraph sample {
rankdir = &quot;LR&quot;;
a -&gt; b -&gt; b;
b -&gt; {c d} -&gt; e;
}" />
</p>
<p>Wenn ein Workflow gestartet wird, beginnt der Workflow an einem fest definierten Startpunkt.
In einem Zustand, desweiteren nur noch State genannt, bekommt der Workflow eine Menge an
Daten, den Input, dieser wird verarbeitet und je nach Input wird ein Übergang zu einem anderen
State, im folgended Transition genannt, gewählt. In einer Transition wird eine bestimmte Menge
an Daten, der Output, zurück gesendet.</p>
<div class="section" id="workflow-description">
<h2>Workflow Description<a class="headerlink" href="#workflow-description" title="Permalink to this headline">¶</a></h2>
<div class="highlight"><pre><span class="p-Indicator">{</span>
    <span class="s">&#39;name&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;start&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span><span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,],</span>
    <span class="s">&#39;doc&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;transitions&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span>
        <span class="p-Indicator">[</span><span class="s">&#39;&lt;start-state-name&gt;&#39;</span><span class="p-Indicator">,</span> <span class="s">&#39;&lt;end-state-name&gt;&#39;</span><span class="p-Indicator">]</span>
    <span class="p-Indicator">],</span>
    <span class="s">&#39;states&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span>
        <span class="p-Indicator">{</span>
            <span class="s">&#39;name&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span>
            <span class="s">&#39;start&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span><span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,],</span>
            <span class="s">&#39;doc&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span>
            <span class="s">&#39;transitions&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span>
                <span class="p-Indicator">[</span><span class="s">&#39;&lt;start-state-name&gt;&#39;</span><span class="p-Indicator">,</span> <span class="s">&#39;&lt;end-state-name&gt;&#39;</span><span class="p-Indicator">]</span>
            <span class="p-Indicator">],</span>
            <span class="s">&#39;states&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span> <span class="nv">...</span> <span class="p-Indicator">]</span>
        <span class="p-Indicator">}</span>
    <span class="p-Indicator">]</span>
<span class="p-Indicator">}</span>
</pre></div>
</div>
<div class="section" id="workflow-context">
<h2>Workflow Context<a class="headerlink" href="#workflow-context" title="Permalink to this headline">¶</a></h2>
<div class="highlight"><pre><span class="p-Indicator">{</span>
    <span class="s">&#39;id&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;position&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">[</span><span class="s">&#39;&lt;str&gt;&#39;</span><span class="p-Indicator">,</span> <span class="p-Indicator">],</span>
    <span class="s">&#39;data&#39;</span><span class="p-Indicator">:</span> <span class="p-Indicator">{},</span>
    <span class="s">&#39;template&#39;</span><span class="p-Indicator">:</span> <span class="s">&#39;&lt;html-str&gt;&#39;</span><span class="p-Indicator">,</span>
    <span class="s">&#39;error&#39;</span><span class="p-Indicator">:</span> <span class="nv">null</span>
<span class="p-Indicator">}</span>
</pre></div>
</div>
</div>


</div>