

<div class="row">
    
  <div class="section" id="made">
<h1>Made<a class="headerlink" href="#made" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/code/made/peer.html">Peer</a></li>
<li class="toctree-l1"><a class="reference internal" href="/#/dashboard/doc/code/made/services/services.html">Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/code/made/services/crm.html">CRM</a></li>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/code/made/services/mail.html">Mail</a></li>
<li class="toctree-l2"><a class="reference internal" href="/#/dashboard/doc/code/made/services/web.html">Web</a></li>
</ul>
</li>
</ul>
</div>
</div>


</div>