
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Capabilities</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
    <td width="250" valign="top">
    <div class="" ng-repeat="service in services">
        <script id="treeview.html" type="text/ng-template">
            <b><a ng-click="show_node(space)">{{space.name}}</a></b>
            <div class="" style="margin-left:10px" ng-repeat="sub in space.subspaces" >
                <a ng-if="!sub.subspaces.length" ng-click="show_capatibility(sub)">{{sub.name}}</a>
                <ng-include ng-if="isNamespace(sub)" onload=" path = path+'-'+sub.name; space = sub;level=level+1" src="'treeview.html'" />
            </div>
        </script>
        <ng-include onload="path = service.type; space = service" src="'treeview.html'" />
    </div>
    </td>
    <td valign="top" align="left">
<div ng-if="node">
<h1 class="smaller_please" style="border-bottom:1px solid #bbb">{{node.path}}</h1>
<div class="documentation"  ng-if="node.doc">
    <h4 style="padding:0px;margin:0px"><i class="glyphicon glyphicon-file"></i> description</h4>
    <div ng-bind-html="trust(node.doc)"></div>
</div>

<h1 class="smaller_please">commands</h1>
<table cellpaddin="0" cellspacing="0" border="0">
<tr ng-repeat="sub in node.subspaces" ng-if="!sub.subspaces.length">
<td width="300" valign="top"><a ng-if="!sub.subspaces.length" ng-click="show_capatibility(sub)">{{sub.path}}</a></td>
<td valign="top">{{strip_html(sub.brief)}}</td>
</tr>
</table>

</div>
<div ng-if="!node">
<div class="form-div" style="font-size:11px !important;" ng-if="current_sub">
<h1 class="smaller_please" style="border-bottom:1px solid #bbb">{{current_sub.path}}</h1>
    <div style="padding-left:10px">
        <div class="documentation"  ng-if="current_sub.doc">
            <h4 style="padding:0px;margin:0px"><i class="glyphicon glyphicon-arrow-right"></i> arguments</h4>
            <div ng-bind-html="trust(current_sub.doc)"></div>
        </div>
        <div class="documentation_return"  ng-if="return_doc">

            <h4 style="padding:0px;margin:0px"><i class="glyphicon glyphicon-arrow-left"></i> returns</h4>
            <div hljs source="return_doc" class="syntax-highlight"></div>
        </div>
        <div ng-if="has_parameters">
            <div ng-if="show_editor">
                <form name="myForm" class="form-horizontal" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(myForm)"></form>
            </div>
        </div>
        <div ng-if="!has_parameters">
            <div class="alert alert-warning">
                <strong>Note:</strong>This rpc request has no parameters.
            </div>
            <button type="button" ng-click="fire()" class="btn btn-primary">Execute</button>
        </div>
        <div ng-if="error_string">
            <div class="alert alert-danger">
                <strong>Warning!</strong><pre style="font-size:11px">{{error_string}}</pre>
            </div>
        </div>

    </div>
    <div class="row" ng-if="request_args_string">  
        <div  class="col-md-6" include="'compile-me'" compile="true">
            <h3>request</h3>
            <div hljs source="request_args_string" class="syntax-highlight">
        </div>
        </div>
        <div  class="col-md-6">
            <h3>response</h3>
            <div hljs source="result" class="syntax-highlight">
        </div>
    </div>
</div>
</div>
    </td>
    </tr>
</table>




<style type="text/css">
div.documentation {
    padding:0px;
    margin-bottom:10px;
    background-color:#fff;

}
div.documentation div {
    padding:20px;
    padding-bottom:13px;
    background-color:#f9f9f9;
    border:1px solid #ddd;

}
div.documentation_return {
    padding:0px;
    margin-bottom:10px;
    background-color:#fff;
}

h1.smaller_please {
    font-size: 17px;
}
.form-div .control-label {
    width:100px;
    float:left !important;
    text-align: left;
    padding-left: 20px;
}

.form-div .form-control {
    width:400px;
    float:left;
    padding: 0px !important;
    margin-right:20px;
}
.form-div .form-group {
    margin-bottom: 1px;
}
.form-div input {
    height: 25px;
}
.form-div input[type=checkbox] {
    height: 10px;
}
.form-div input[type=submit] {
    padding: 4px;
}
.form-div textarea {
    height: 200px;
}
.form-div legend {
    font-size: 15px;
    font-weight: bold;
    border: 0 !important;
    margin-bottom: 0px;
    width: auto;
}

.form-div fieldset {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border: 1px solid #eee;
}


.syntax-highlight pre {
    padding: 0;
    font-size:10px !important;
}
</style>