<div class="modal-content" id="modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Dump Upload</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>File</label>
            <input class="form-control" type="file" made-store-file="data.file"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="UploadDump()">Upload</button>
    </div>
</div>
