<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Files</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <button class="btn btn-primary btn-lg btn-block" ng-click="open()">
        Upload
    </button>

    <p/>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="file in files">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" ng-click="toggle(file._id)" >
                        {{file.filename}} ({{file.length}})
                    </a>
                </h4>
            </div>

            <div id="{{file._id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="(key, val) in file.meta">
                            {{key}}: {{val}}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" ng-click="save(file)">
                        save
                    </button>
                    <button class="btn btn-danger" ng-click="delete(file)">
                        delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>