<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Groups</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <button class="btn btn-primary" ng-click="open('views/group_create.html')">
        Add Group
    </button>

    <button class="btn btn-danger" ng-click="open('views/dump_upload.html')">
        Upload Group Dump
    </button>

    <button class="btn btn-success" ng-click="DumpGroups()">
        Save Group Dump
    </button>

    <p/>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="group in groups">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" ng-click="toggle(group._id)" >
                        {{group._id}}
                    </a>
                </h4>
            </div>

            <div id="{{group._id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{group}}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-danger" ng-click="DeleteGroup(group)">
                        delete
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
