<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h4 class="modal-title">Create new Group</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Group</label>
            <input class="form-control" type="text" ng-model="data.name"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="AddGroup()">Save changes</button>
    </div>
</div>