<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Logs</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <table class="table table-bordered table-hover">
        <tr ng-repeat="log in logs" class="row log{{log.level}}">
            <td>{{(log.created*1000)|date:'medium'}}</td>
            <td>{{log.peer_type}}</td>
            <td>{{log.name}}</td>
            <td style="white-space: pre;">{{log.message}}</td>
        </tr>
    </table>
</div>
