<script id="namespace.html" type="text/ng-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    {{space.label}}
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body" ng-bind-html="trust(space.doc)" ng-if="space.type == 'rpc'"></div>
            <div class="panel-body" ng-if="space.type == 'namespace'">
                Namespace
                <ng-include
                    ng-repeat="sub in space.subspaces"
                    onload="space = sub"
                    src="'namespace.html'" />
            </div>
        </div>
    </div>
</script>
