<div class="modal-content" id="modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Add Group</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Group</label>
            <input class="form-control" type="text" ng-model="data.group"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="AddGroup()">Save changes</button>
    </div>
</div>