<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Rights</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <button class="btn btn-primary btn-lg btn-block" ng-click="open('views/right_create.html')">
        New
    </button>

    <p/>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="right in rights">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" ng-click="toggle(right._id)" >
                        {{right.url}}
                    </a>
                </h4>
            </div>

            <div id="{{right._id}}" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Rights</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="el in right.rights">
                                    <td>{{el.group}}</td>
                                    <td>
                                        <label class="checkbox-inline" ng-repeat="name in ['read', 'write', 'execute', 'create', 'delete']">
                                            <input type="checkbox" ng-model="access[right._id][el.group][name]">{{name}}
                                        </label>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-circle" ng-click="RemoveGroup(right._id, el.group)">
                                            <i class="fa fa-times"></i>
                                        </button>

                                        <button type="button" class="btn btn-success btn-circle" ng-click="SaveGroup(right._id, el.group)">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

                <div class="panel-footer">
                    <button class="btn btn-default" ng-click="open('views/right_add_group.html', right)">
                        add group
                    </button>
                    <button class="btn btn-danger" ng-click="DeleteRight(right)">
                        delete
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>