<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Topology</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <made-topology data="data"></made-topology>
    <made-topology-legend data="data"></made-topology-legend>
</div>
