<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Create new User</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" ng-model="data.name"/>
        </div>
        <div class="form-group">
            <label>Fistname</label>
            <input class="form-control" type="text" ng-model="data.firstname"/>
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input class="form-control" type="text" ng-model="data.lastname"/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" ng-model="data.email"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" ng-model="data.password"/>
        </div>
        <div class="form-group">
            <label>Password check</label>
            <input class="form-control" type="password" ng-model="data.password2"/>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="AddUser()">Save changes</button>
    </div>
</div>
