<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <button class="btn btn-primary" ng-click="open('views/user_create.html')">
        Add User
    </button>

    <button class="btn btn-danger" ng-click="open('views/dump_upload.html')">
        Upload User Dump
    </button>

    <button class="btn btn-success" ng-click="DumpUsers()">
        Save User Dump
    </button>

    <p/>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="user in users">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" ng-click="toggle(user._id)" >
                        ({{user._id}}) {{user.name}}
                    </a>
                </h4>
            </div>

            <div id="{{user._id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{user}}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" ng-click="open('views/user_add_group.html', user)">
                        add group
                    </button>
                    <button class="btn btn-default" ng-click="ResetPassword(user)">
                        reset password
                    </button>
                    <button class="btn btn-danger" ng-click="DeleteUser(user)">
                        delete
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
